body {
    font-family: 'Roboto', sans-serif !important;
    padding: 20px;
}

h1 {
    font-size: 26px !important;
}

.m-100p {
    margin-bottom: 100px;
}

.form-input {
    /* font-size: 16px !important;  */
}

.add-btn {
    width: 35px;
    height: 35px;
    background-color: #b9b8b8 !important; 
    border: none !important;
}

.add-btn:hover {
background-color: #4c4c4c !important; 
}

.student-table {
    /* font-size: 16px !important;  */
}
th {
    background-color: #4c4c4c !important;
}